body {
  background-color: #001f3f;
  color: #7fdbff;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Poppins',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #003366;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #7fdbff;
  width: 600px;      /* or use % like 80% */
  height: 300px; 
}
.url {
  color: #39ff14; /* Bright neon green */
  font-weight: 600;
  text-decoration: none;
}
.url:hover {
  text-decoration: underline;
}

input[type="url"] {
  padding: 10px;
  width: 60%;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
input[type="text"] {
  height: 40px; /* Match button height */
  padding: 0 12px;
  border-radius: 8px; /* Rounded edges */
  border: none;
  font-size: 15px;
  width: 300px;
  box-sizing: border-box;
}

.shorten-another {
  display: inline-block;   /* ensures margin works */
  margin-top: 30px;
  color: #39ff14;         /* match your blue text color */
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.shorten-another:hover {
  text-decoration: underline;
}


button {
  /* padding: 10px 20px;
  background-color: #7fdbff;
  color: #001f3f;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer; */
   height: 40px;
  padding: 0 18px;
  background-color: #73d9ff;
  color: #002b5c;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

a {
  color: #7fdbff;
  text-decoration: none;
  
}

.error {
  color: red;
}
.doc-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00cccc;
  color: #001f3f;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.doc-button:hover {
  background-color: #00e6e6;
}
h1 {
  font-weight: 600;
  color: #00ffff;
}

button, input, .doc-button {
  font-family: 'Poppins', sans-serif;
  
}
/* button:hover {
  font-weight: bold;
} */
.card {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
button:hover,
.doc-button:hover {
  background-color: #00ffff;
  color: #002b5c;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease;
}

